[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rishabh Rao (rishabhrao)
[access "refs/for/refs/*"]
	read = group user/Rishabh Rao (rishabhrao)
	push = group user/Rishabh Rao (rishabhrao)
	label-Code-Review = -2..+2 group user/Rishabh Rao (rishabhrao)
	label-Verified = -1..+1 group user/Rishabh Rao (rishabhrao)
	rebase = group user/Rishabh Rao (rishabhrao)
	removeReviewer = group user/Rishabh Rao (rishabhrao)
	submit = group user/Rishabh Rao (rishabhrao)
[access "refs/heads/*"]
	read = group user/Rishabh Rao (rishabhrao)
	create = group user/Rishabh Rao (rishabhrao)
	push = +force group user/Rishabh Rao (rishabhrao)
	pushMerge = group user/Rishabh Rao (rishabhrao)
[access "refs/tags/*"]
	push = group user/Rishabh Rao (rishabhrao)
	push = +force group user/Rishabh Rao (rishabhrao)
